@model BusinessLayer.Customer

@{
    ViewBag.Title = "AdminPanel";
}

<h2>AdminPanel</h2>

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.customerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.customerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.customerType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.customerType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.customerAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.customerAddress)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
